* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  /* background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364); */
  background: linear-gradient(145deg, #0a1d3a, #102944);
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 1000px;
  width: 100%;
  text-align: center;
}

.title {
  background: linear-gradient(to right, #00f2fe, #4facfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  
  margin-bottom: 30px;
}

.top{
  position: relative;
  /* border: 4px solid white; */
  display: flex;
  justify-content: center;
}

.coins-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #00f2fe;
  position: absolute;
  right: 0;
  top: 22px;
  border-bottom: 2px solid #00f2fe;
  border-radius: 4px;
  /* background-color: black; */
  padding: 10px;
}

.react_coin {
  width: 40px;
  height: 40px;
}

.coin-count-text {
  user-select: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  /* background-color: #00ffcc; */
  background-image: linear-gradient(to right, #05ced8, #43a3f6);
  color: #142042;
  font-size: 20px;
  border: none;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 1;
  max-width: 150px;
  transition: background-image 0.3s;
}

.btn:hover {
  background: #2da6ac;
}

.btn.reset {
  background-color:  #00ffcc;
  color: black;
}

.btn.reset:hover {
  background-color: #2da6ac;
}

.levels-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.level-card {
  /* background: rgba(255, 255, 255, 0.1); */
  /* background: linear-gradient(135deg, #1d3b62, #1f4068); */
   /* background: linear-gradient(135deg, #244f88, #1f4068);  */
  border-radius: 16px;
  border: 2px solid #00f2fe;
  padding: 20px;
  backdrop-filter: blur(6px);
  transition: transform 0.3s;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.level-card:hover:not(.locked) {
  transform: translateY(-5px);
}

.level-card.locked {
  /* opacity: 0.6; */
  pointer-events: none;
  cursor: default;
}

.level-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.level-img {
  width: 150px;
  height: 150px;
  /* margin-bottom: 12px; */
  /* object-fit: contain; */
}

.star-container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.star {
  font-size: 22px;
  color: gold;
}

.star.empty {
  color: rgb(184, 158, 10);
}

.lock-icon {
  font-size: 24px;
  color: #ccc;
  margin-top: 12px;
}


@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
  .level-card {
    padding: 15px;
  }
  .level-title {
    font-size: 1rem;
  }
  .level-img {
    width: 60px;
    height: 60px;
  }
  .btn {
    max-width: 100px;
    font-size: 14px;
    flex-grow: 1;
  }
  .title {
    font-size: 1.5rem;
    position: relative;
    bottom: 20px;
  }
  .coins-display {
    font-size: 1.0rem;
    position: absolute;
    right: 100px;
    top: 24px;
    padding: 5px;
  }
  .react_coin {
    width: 30px;
    height: 30px;
  }
}
